:root {
  --primary-margin: 1rem;
  --secondary-margin: 2rem;
  --nav-height: 5rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0 0 var(--nav-height);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  padding: 1rem 2rem var(--nav-height);
}

header h1 {
  text-align: center;
}

.media-section {
  margin-top: var(--primary-margin);
}

.slider {
  background-color: hsl(208, 100%, 97%);
  padding: 1rem;
  display: flex;
  gap: 2rem;
  border-radius: 2rem;
  overflow-x: auto;
}

.uploaded-imgs {
  display: flex;
  gap: 1rem;
}

.uploaded-img-container {
  position: relative;
  width: 15rem;
  height: 15rem;
}

.uploaded-img {
  width: 15rem;
  height: 15rem;
  border-radius: 2rem;
  object-fit: cover;
}

.remove-img {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
}

.add-media {
  background-color: hsl(0, 0%, 86%);
  padding: 1rem;
  border-radius: 2rem;
  width: 15rem;
  height: 15rem;
  font-size: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  flex-shrink: 0;
}

.add-media:active {
  background-color: hsl(0, 0%, 62%);
}

.add-media img {
  width: 2rem;
}

.add-media input {
  display: none;
}

.question-section {
  margin-top: var(--primary-margin);
}

.question-type {
  width: 100%;
  margin-top: 1rem;
  padding: 1.7rem;
  border: 1px solid hsla(0, 0%, 0%, 0.255);
  border-radius: 2rem;
  cursor: pointer;
}

.question-type:focus {
  outline: none;
}

.answers-section {
  margin-top: var(--primary-margin);
  background-color: hsl(0, 0%, 86%);
  padding: 1rem;
  border-radius: 2rem;
  margin-bottom: 3rem;
}

.answers {
  margin-top: var(--primary-margin);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.answer {
  border: 1px solid hsla(0, 0%, 0%, 0.255);
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  padding: 2rem;
  background-color: hsl(0, 0%, 76%);
  color: #000;
}

.answer:active {
  background-color: hsla(0, 0%, 0%, 0.035);
}

.add_answer {
  background-color: hsl(0, 0%, 95%);
  color: hsl(120, 95%, 37%);
  border: 1px solid hsla(120, 95%, 37%, 0.374);
}

hr {
  border: 1px solid hsla(0, 0%, 0%, 0.104);
  margin-top: var(--primary-margin);
}

.submit-btn {
  color: #fff;
  border-radius: 2rem;
  cursor: pointer;
  transition: all 0.3s;
  padding: 2rem;
  background-color: #000;
  text-align: center;
}

.submit-btn:hover {
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.submit-btn:active {
  box-shadow: 0 0 6px rgb(0, 0, 0);
}

.error-message {
  color: red;
  margin-top: 1rem;
  font-size: 1rem;
}

.success-message {
  color: green;
  margin-top: 1rem;
  font-size: 1rem;
}
